@font-face {
    font-family: FugazOne;
    src: url('/fonts/FugazOne-Regular.ttf');
}

#title {
    font-size: 12pt;
    font-family: FugazOne;
    font-size: medium;
    color: #0d6dfdcb;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
}

#mainContainer {
    width: 175px;
    height: 70px;
    margin: 7px;
}

#trackNumber {
    margin: auto;
    text-transform: uppercase;
    font-size: 2ch;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#trackButton {
    margin-bottom: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#buttonContainer {
    text-align: center;
}

.form-label {
    font-size: small;
}